.card {
  border-radius: 12px;
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: rgb(255, 152, 0);
  background: rgb(51, 51, 51);
  overflow: hidden;
  margin-bottom: 0.65rem;
  border-bottom: 1px #fff;

  .card_header {
    height: 300px;
    position: relative;

    .card_header_cover_image {
      position: relative;
      width: 300px;
    }

    .card_header_text_block {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.705);
      color: rgb(214, 214, 214);
      padding: 0.625rem;
      width: 100%;
      bottom: 0;

      h2 {
        margin-top: 0;
      }
    }
  }

  .card_body {
    height: 100%;
    color: rgb(255, 152, 0);
    padding: 1.25rem;
    background: rgb(51, 51, 51);

    .card_body_element_active {
      cursor: pointer;
      position: relative;

      .card_body_element {
        &:first-child {
          border-bottom: 2px solid rgba(129, 126, 126, 0.233);
        }
      }

      &:last-child {
        .card_body_element {
          &:first-child {
            border: none;
          }
        }
      }

      &:hover {
        color: rgb(138, 110, 241);
      }
    }

    .card_body_element {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.7rem;
      border-bottom: 2px solid rgba(129, 126, 126, 0.233);
      padding: 0 0 0.375rem;

      &:last-child {
        border: none;
      }

      span {
        font-size: 0.9rem;

        &:first-child {
          color: rgb(158, 158, 158);
          text-transform: uppercase;
          font-size: 0.7rem;
          font-weight: bold;
          line-height: 1.2rem;
        }

        &:nth-child(2) {
          width: 100%;
          text-align: right;
        }
      }
    }
  }
}