section {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-height: calc(60vh - 5rem);
  padding: 1.875rem;
  background: rgb(32, 35, 41);
}
